################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyGame/v15
/Binaries/Win64
/Content
/Intermediate
/Saved
!/Content/Localization/Game
/.vs/MyGame/v16
/Ouput
